<div>
  <input type="button" id="create-game" value="Create Game" />
  <ul id="game-list">
    <%= for game_map <- games() do %>
      <li><%= game_map.state %><input class="start-game" type="button" value="Start Game" data-id="<%= game_map.id %>" /></li>
    <% end %>
  </ul>
</div>
